<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>We are here to help you! Please fill out form provided below, our representative will contact you
                shortly.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Moraya Soc Katraj Pune</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.959863028939!2d77.20118057631666!3d28.600980885511298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce38178cfa965%3A0xbfe25a40a8e72be2!2sPrime%20Minister%20(PM)%20House!5e0!3m2!1sen!2sin!4v1681651292259!5m2!1sen!2sin"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form [formGroup]="formData" (ngSubmit)="onSubmit()" role="form" class="contact-form"
                    *ngIf="!isSubmitted">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" formControlName="fullName" id="name" class="form-control"
                                placeholder="Full Name" required
                                [ngClass]="{ 'is-invalid': fullName.touched && fullName.errors, 'is-valid': fullName.valid }">
                            <div *ngIf="fullName.touched && fullName.errors" class="invalid-feedback">
                                <div *ngIf="fullName.errors['required']">Name is required!</div>
                                <div *ngIf="fullName.errors['maxLength']">Name is can't be more than 40 characters!
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required
                                formControlName="email" placeholder="Your email"
                                [ngClass]="{ 'is-invalid': email.touched && email.errors, 'is-valid': email.valid }">
                            <div *ngIf="fullName.touched && fullName.errors" class="invalid-feedback">
                                <div *ngIf="fullName.errors['required']">Enter valid email address!</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required
                            formControlName="subject" placeholder="Please mention here your requirements"
                            [ngClass]="{ 'is-invalid': subject.touched && subject.errors, 'is-valid': subject.valid }">
                        <div *ngIf="fullName.touched && fullName.errors" class="invalid-feedback">
                            <div *ngIf="fullName.errors['required']">Please enter subject!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required formControlName="message"
                            placeholder="Please mention your message to us!"
                            [ngClass]="{ 'is-invalid': message.touched && message.errors, 'is-valid': message.valid }">
                    </textarea>
                    </div>
                    <div class="form-group">
                        <ngx-recaptcha2 #captchaElem siteKey="6LeFR6cUAAAAAGviLYm9xPsWGyVaTLjBCDFma9Yp"
                            (success)="handleSuccess($event)" [size]="size" [hl]="lang" [theme]="theme" [type]="type"
                            formControlName="recaptcha">
                        </ngx-recaptcha2>
                    </div>

                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center">
                        <button [disabled]="formData.invalid" type="submit">Send Message</button>
                    </div>
                </form>
                <div *ngIf="isSubmitted" class="contact-form">
                    <p class="lead">
                        Thank you for contacting TBD Team.
                        <br>
                        We have received your request details. One of our representative will contact you shortly.
                    </p>
                    <br>
                    <mark>
                        <strong>Warm regards,</strong>
                        <br>
                        <br>
                        <strong>James Anderson | Director sales and head</strong>
                        <br>
                        <strong>Telephone No:</strong> +1(857)4450045
                        <br>
                        <strong>TBD</strong>
                        <br>
                        <strong>Email:</strong> Inquiry@TBD.in | Web: www.tbd.com
                    </mark>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->